<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- TransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceProxy" />
	</bean>
	
	<!-- 配置注解事务  -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"></tx:annotation-driven>

	<!-- 业务层事务注解 -->
	<!-- <tx:advice id="txAcceptorAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="modifyAcceptor" propagation="REQUIRED" rollback-for="Exception"></tx:method>
			<tx:method name="queryAcceptor" read-only="true"></tx:method>
		</tx:attributes>
	</tx:advice> -->
	
	<!-- <aop:config>
		<aop:pointcut id="acceptorPointCut" expression="execution(* com.busi.acceptor.*.impl.*.*(..))"/>
		<aop:pointcut id="acceptorPointCut" expression="execution(* com.test.business.ModifyAcceptor.modifyAcceptor(..))"/>
		<aop:advisor advice-ref="txAcceptorAdvice" pointcut-ref="acceptorPointCut"/>
	</aop:config> -->
 	
	<!-- 服务层事务注解  -->
	<tx:advice id="txServiceAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" rollback-for="Exception"></tx:method>
			<tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception"></tx:method>
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"></tx:method>
			<tx:method name="query*" read-only="true"></tx:method>
			<tx:method name="load*" read-only="true"></tx:method>
		</tx:attributes>
	</tx:advice>
	
	<!-- <bean id="logBean" class="com.abs.LogAspect"/> -->
	
	<aop:config>
		<aop:pointcut id="servicePointCut" expression="execution(* com.test.persistence.service.*.*.impl.*.*(..))"/>
		<aop:advisor advice-ref="txServiceAdvice" pointcut-ref="servicePointCut"/>
		
		<!-- <aop:aspect id="serviceLog" ref="logBean">
			<aop:before method="doBefore" pointcut-ref="servicePointCut"/>
			<aop:after-throwing method="doThrowing" throwing="e" pointcut-ref="servicePointCut"/>
			<aop:after method="doAfter" pointcut-ref="servicePointCut"/>
			<aop:after-returning method="doReturn" pointcut-ref="servicePointCut"/>
		</aop:aspect> -->
	</aop:config>
	
</beans>